<div class="card text-center">
 <img src="images/abc.jpg" class="card-img" alt="image">
  <div class="card-img-overlay">
  <div class="card-body">
    <h1 class="card-title">About</h1>
    <br>
    <br>

<h3 class="text-center" >Code with your team</h3>
<div class="alert alert-primary text-center" role="alert">
  Open a Codeshare editor, write or copy code, then share it with friends and colleagues. Pair program and troubleshoot together.
</div>

<h3 class="text-center">Interview developers</h3>
<div class="alert alert-secondary text-center" role="alert">
Set coding tasks and observe in real-time when interviewing remotely or in person. Nobody likes writing code on a whiteboard.
</div>

<h3 class="text-center">Teach people to program</h3>
<div class="alert alert-info text-center" role="alert">
Share your code with students and peers then educate them. Universities and colleges around the world use Codeshare every day.
</div>

</div>


</div>