<div style="background: url('images/about.jpg'); background-repeat: no-repeat;" >

<div class="card bg-dark text-white text-center">
  <img src="images/about.jpg" class="card-img" alt="image">
  <div class="card-img-overlay">
    <h1 class="card-title">Code for Share</h1>
    <br>
    <br>
    <h5 class="card-text">Welcome to Code for Share</h5>
    <h5 class="card-text">An online code editor for interviews, troubleshooting, teaching & more…Share code for free. Sign up not required.</h5>
        <br>
        <br>
        <a href="/register" class="btn btn-lg btn-primary">Register</a> 
        <br>
        <br>
        {{#if user}}
    <a href="/createTask" class="btn btn-lg btn-primary">Create new task</a>
      {{/if}}

  </div>
</div>



